/.web-server-pid
/app/config/parameters.yml
/build/
/P4_Note de cadrage.docx
/Soutenance_P4.pptx
/commandes_console.txt
/var/*
!
/var/cache
/var/cache/*
!
var/cache/.gitkeep
!
/var/logs
/var/logs/*
!
var/logs/.gitkeep
!
/var/sessions
/var/sessions/*
!
var/sessions/.gitkeep
!
var/SymfonyRequirements.php
/vendor/


