/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!
/var/cache
/var/cache/*
!
var/cache/.gitkeep
!
/var/logs
/var/logs/*
!
var/logs/.gitkeep
!
/var/sessions
/var/sessions/*
!
var/sessions/.gitkeep
!
var/SymfonyRequirements.php
/vendor/


P4_Note de cadrage.docx
P4_Questions.xlsx
Soutenance_P4.pptx