





<div id="form_billets" data-prototype=>

	<div class="form-group">
		<label class="control-label required">__name__label__</label>

		<div id="form_billets___name__">

			<div class="form-group">
				<label class="control-label required" for="form_billets___name___nom">Nom</label>
				<input type="text" id="form_billets___name___nom" name="form[billets][__name__][nom]" required="required" class="form-control" />
			</div>

			<div class="form-group">
				<label class="control-label required" for="form_billets___name___prenom">Prenom</label>
				<input type="text" id="form_billets___name___prenom" name="form[billets][__name__][prenom]" required="required" class="form-control" />
			</div>

			<div class="form-group">
				<label class="control-label required" for="form_billets___name___pays">Pays</label>
				<select id="form_billets___name___pays" name="form[billets][__name__][pays]" class="form-control">
					<option value="AF">Afghanistan</option>
					<option value="AX">Åland Islands</option>
					<option value="AL">Albania</option>
				</select>
			</div>

			<div class="form-group">
				<input type="text" id="form_billets___name___dateNaissance" name="form[billets][__name__][dateNaissance]" required="required" class="date-naissance col-3 form-control" />
			</div>

			<div class="form-group">
				<label class="control-label required">Type</label>
				<div id="form_billets___name___type">
					<div class="radio">
					  <label for="form_billets___name___type_0" class="required">
					  	<input type="radio" id="form_billets___name___type_0" name="form[billets][__name__][type]" required="required" value="0" /> Demi-journée (à partir de 14h)
					  </label>
    			</div>
    			<div class="radio">
    			  <label for="form_billets___name___type_1" class="required">
    			  	<input type="radio" id="form_billets___name___type_1" name="form[billets][__name__][type]" required="required" value="1" /> 
    			  	Journée
    			  </label>
    			</div>
    		</div>
    	</div>

    	<div class="form-group">
    		<div class="checkbox">
    			<label for="form_billets___name___tarifReduit">
    				<input type="checkbox" id="form_billets___name___tarifReduit" name="form[billets][__name__][tarifReduit]" value="1" /> 
    				Tarif reduit</label>
    		</div>
    	</div>

    </div>
  </div>

  ">
</div>

